[Desktop Entry]
Categories= Utility
Comment= Fast content search.
Comment[zh_CN]= 极速全文搜索
Exec=/usr/bin/极速全文搜索
# Icon=/usr/share/icons/elementary/apps/128/system-file-manager.svg
Icon=/usr/share/icons/hicolor/128x128/apps/org.xfce.appfinder.png

Name=极速全文搜索
Name[zh_CN]=极速全文搜索
Terminal=false
Type=Application
